body{
    font-family: 'Inter', sans-serif, 'Poppins';
    margin: 0%;
    margin-top: 0%;
    padding: 0%;
}

/* hero styling */

.hero-section{
    background-image: url(hero.png);
    height: 699.79px;
    background-repeat: no-repeat;
    width: 2500px
    margin: 0%;
    padding: 0%;
    background-size: cover;
    padding-top: 200px;
    background-position: middle;
    margin-bottom: 120PX; 
}

.hero-section h1{
    font: bold;
    font-size: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: white

}

.hero-section p{

    margin-top: 20px;
    font-size: 18px;
    font-family: 'Poppins';
    color: white
}

.hero-section div{
    
    padding-left: 219px;
    padding-top: 0px;
    width: 800px;
}

.hero-section button{
    margin-top: 46px;
    margin-bottom: 250px ;
    background-color: #EF233C;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    font-family: 'Inter';
    border: none;
    font-size: 20px;
    font-weight: 600;
}

/* video-section */

.video-section-flex{
        display: flex;
        z-index: 0;
        margin-top: 130px;
    }

.half-width{
        width: 50%;
    }

.left-padding
    {
     padding-left: 219px;
     margin-top: 65px;
     
    }

.half-width img{
        width: 600px;
        margin-right: 150px;
        margin-left: 23px;
   }

.video-section-flex h1{
    font-weight: 900;
    font-size: 65px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;

}

.video-section-flex p{

    margin-top: 20px;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.video-section-flex button{
    margin-top: 46px;
    margin-bottom: 250px ;
    background-color: #EF233C;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    font-family: 'Inter';
    border: none;
    font-size: 20px;
    font-weight: 600;
}

/* <!-- dua section --> */

.dua-section-flex{

    display: flex;
    z-index: 0;
    margin-top: 30px;

}

.dua-left-padding
    {
     padding-left: 130px;
    }

 .dua-left-padding img{

    width: 640px;
    margin-right: 150px;
    margin-left: 83px;
     
    }

.dua-section-flex h1{
    font-weight: 900;
    font-size: 65px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;

}

.dua-section-flex p{

    margin-top: 20px;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.dua-section-flex button{
    margin-top: 46px;
    margin-bottom: 250px ;
    background-color: #EF233C;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    font-family: 'Inter';
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.right-padding{
    
    padding-left: 50px;
    padding-top: 52px;
}

/* <!-- card sectnon --> */

.card-section{
    text-align: center;
    margin-top: 50px;
}

.card-section h1{
    font-weight: 900;
    font-size: 65px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;

}

.card-section p{

    margin-top: 20px;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 400;
    color: rgb(0, 0, 0);
}

/* card details section */


.space{
    display: inline-flex;
    background-color: #FEF4F5;
    padding: 30px 70px;
    margin: 15px;
    border-radius: 9px;
}

.space img{
    margin-top: 25px;
    margin-right: 25px;

}

.space h3{
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 0%;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;

}

.space p{

    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.left-margin{
    margin-left: 400px;
}


/* images section */

.images-section{
    display: inline-flex;
    margin: 25px;
    border-radius: 9px;
}

.image-left-margin{
    margin-left: 300px;
    margin-top: 130px;
}

.image-left-margin img{

    padding: 20px;
    width: 29%;

}

/* <!-- blog section --> */

.blog-section{
    text-align: center;
    margin-top: 50px;
}

.blog-section h1{
    font-weight: 900;
    font-size: 65px;
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;

}

.blog-section p{

    margin-top: 20px;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 400;
    color: rgb(0, 0, 0);
}


/* <!-- blog section details --> */

.blog-section-details{
    margin-left: 60px;
    margin-bottom: 100px ;
}


.blog-section-details div{
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 42px 28px;
    margin-top: -5px;

}


.blog-section-details h3{
    font-weight: 900px;
    font-size: 20px;
    margin: 0%;
    color: rgb(0, 0, 0);

}

.blog-section-details p{

    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.blog-section-details button{
    margin-top: 20px;
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    font-family: 'Inter';
    border: none;
    border-bottom: 2px solid red;
    font-size: 20px;
    font-weight: 500;
}

.blogs-section{
    display: inline-flex;
    margin-left: 260px;
    margin-top: 50px;
    border-radius: 9px;
}

footer{
    position: relative ;
    background-color: black;
    height: 177px;
    padding-top: 100px;
    text-align: center;
    color: #D9D9D9;
}